<% @problem = Problem.find(favorite.problem_id) %>
<% user = @problem.user %>
<li id="favorite-<%= favorite.id %>">
  <div class="row favorite-problem">
    <div class="col-md-3">
    <%= image_tag @problem.display_picture if @problem.picture.attached? %>
    </div>
    <div class="col-md-7">
      <p><%= link_to @problem.study_type, problem_path(@problem) %></p>
      <p><%= @problem.explanation_text %></p>
      <p><%= @problem.problem_text %></p>
      <p class="study-user">作成者 <%= link_to user.name, user_path(user) %></p>
    </div>
  </div>
</li>