<%= form_with model: @problem, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class = 'form-group'>
    <%= f.label :study_type %> <span class= "input-need">※必須</span>
    <%= f.text_field :study_type, size: "60*4", class: 'form-control', id: 'problem_study_type' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :title %><span class="input-unneed">※任意</span>
    <%= f.text_field :title, class: 'form-control', id: 'title' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :explanation_text %><span class="input-unneed">※任意</span>
    <%= f.text_field :explanation_text, class: 'form-control', id: 'explanation_text' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :problem_text %><span class="input-need">※必須</span>
    <%= f.text_field :problem_text, class: 'form-control', id: 'problem_text' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :answer %><span class="input-need">※必須</span>
    <%= f.text_field :answer, class: 'form-control', id: 'answer' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :problem_explanation %><span class="input-unneed">※任意</span>
    <%= f.text_field :problem_explanation, class: 'form-control', id: 'problem_explanation' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :target_age %> [歳]<span class="input-unneed">※任意</span>
    <%= f.text_field :target_age, class: 'form-control', id: 'target_age' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :reference %><span class="input-unneed">※任意</span>
    <%= f.text_field :reference, class: 'form-control', id: 'reference' %>
  </div>
  <%= f.submit "作成する", class: 'btn btn-primary' %>
<% end %>