<% @problem = problem %>
<%= stylesheet_link_tag    'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
<li id="problem-<%= problem.id %>">
  <div class="row">
    <div class="col-md-4">
      <span>
        <%= image_tag problem.display_picture if problem.picture.attached? %>
      </span>
      <%= render 'users/favorite_form' %>
    </div>
    <div class="col-md-8 escape-float">
      <span class="question"><%= link_to "問題出題", question_problem_path(problem) %></span><br>
      <div class="problem-user">作成者 <%= link_to problem.user.name, user_path(problem.user) %></div>
      <div class="study_type">教科：<%= problem.study_type %></div>
      <div class="title">タイトル名：<%= link_to problem.title, problem_path(problem) %></div>
      <div class="explanation_text">説明文：<%= problem.explanation_text %></div>
      <div class="problem_text">問題文：<%= problem.problem_text %></div>
      <div class="target_age">対象年齢(学年)：<%= problem.target_age %>才</div>
      <div class="reference">参考用URL：<%= link_to problem.reference %></div>
      <div class="row">
        <div class="col-md-6">
          <div class="dish-created-at">
            <%= time_ago_in_words(problem.created_at) %>前に投稿
          </div>
        </div>
      <% if current_user.admin? || (current_user == problem.user) %>
      <div class="col-md-6">
        <%= link_to "削除", problem_path(problem), method: :delete,
                          data: { confirm: "本当に削除しますか？" } %>
      </div>
    <% end %>
  </div>
</li> 