<li id="problem-<%= problem.id %>">
  <%= link_to gravatar_for(problem.user,size: 50), problem.user %><br>
  <span class="study_type">科目<%= problem.study_type %></span><br>
  <span class="title">タイトル名<%= link_to problem.title, "#" %></span><br>
  <span class="explanation_text">説明文<%= problem.explanation_text %></span><br>
  <span class="problem_text">問題文<%= problem.problem_text %></span><br>
  <span class="answer">答え<%= problem.answer %></span><br>
  <span class="problem_explanation">問題解説<%= problem.problem_explanation %></span><br>
  <span class="target_age">対象年齢<%= problem.target_age %></span><br>
  <span class="reference">参考用URL<%= link_to problem.reference %></span><br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(problem.created_at) %> ago.
  </span>
</li>