<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">StudyLog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to notifications_path, class: "nav-link" do %><span class="fas fa-bell"></span> <span>通知</span><% end %>
        </li>
        <li class="nav-item">
          <%= link_to favorites_path, class: "nav-link" do %><span class="fas fa-star"></span> <span>お気に入り</span><% end %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="fas fa-user-cog"></span>&nbsp;<%= current_user.name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to 'プロフィール', current_user, class: "dropdown-item" %></li>
              <li><%= link_to 'ユーザー一覧', users_path, class: "dropdown-item" %></li>
              <li><%= link_to 'スタディログとは？', about_path, class: "dropdown-item"  %></li>
              <li><%= link_to 'ログアウト', logout_path, method: :delete, class: "dropdown-item"  %></li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to about_path do %><span class="fas fa-book"></span> <span>スタディログとは？</span><% end %>
          </li>
          <li>
            <%= link_to signup_path do %><span class="fas fa-user-plus"></span> <span>ユーザー登録(無料)</span><% end %>
          </li>
          <li>
            <%= link_to login_path do %><span> ログイン</span><% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>