<!DOCTYPE HTML>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <div class="container mt-4">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= render 'layouts/search' if logged_in? %>
    </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/js' %>
  </body>
</html>